{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<!---css--->
<link href="{% static 'parts/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'parts/css/style.css' %}" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Gym  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---js--->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--JS for animate-->
	<link href="{% static 'parts/css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->
</head>
<body>
<!---header--->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay="0.4s">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <h1><a class="navbar-brand" href="index.html"><img src="{% static 'parts/images/e.png' %}"/>  GYMFit </a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right wow fadeInRight animated animated" data-wow-delay="0.4s">
				<li class="active"><a class="nav-in" href="index.html"><span data-letters="Home">Home</span></a></li>
				<li ><a class="nav-in" href="about.html"><span data-letters="About">About</span></a> </li>
				<li><a class="nav-in" href="class.html"><span data-letters="Classes">Classes</span></a></li>
				<li><a class="nav-in" href="trainers.html"><span data-letters="Trainers">Trainers</span></a></li>
				<li><a class="nav-in" href="admin/"><span data-letters="Administration">Administration</span></a></li>
				<li><a class="nav-in" href="contact.html"><span data-letters="Contact">Contact</span></a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!---banner--->
			<div class="banner wow fadeInDownBig animated animated" data-wow-delay="0.4s">
				<div class="container">
					<h2>about us</h2>
				</div>
			</div>
		<!---about-->
			<div class="about-section w3-layouts">
				<div class="container">
					<div class="about-grids">
						<div class="col-md-4 about-grid1 wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="latest-top">
								<h4>Latest Classes</h4>
								<div class="latest-class">
									<div class="latest-left">
									<img src="{% static 'parts/images/l1.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<div class="latest-right">
										<h5>Running</h5>
										<p>November 12, 2019</p>
										<p>10:00 - 11:00</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="latest-class">
									<div class="latest-left">
									<img src="{% static 'parts/images/l2.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<div class="latest-right">
										<h5>Weight Loss </h5>
										<p>November 12, 2019/p>
										<p>10:00 - 11:00</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="latest-class">
									<div class="latest-left">
									<img src="{% static 'parts/images/l3.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<div class="latest-right">
										<h5>Bodybuilding</h5>
										<p>November 14, 2019</p>
										<p>10:00 am - 11:00 am</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="time w3l">
								<h4>Club Timings</h4>
								<div class="time-bottom">
									<div class="time-left">
										<h5>Week Days : </h5>
									</div>
									<div class="time-right">
										<h5> 04:00 – 22:00 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="time-bottom">
									<div class="time-left">
										<h5>Saturday : </h5>
									</div>
									<div class="time-right">
										<h5> 07:00 – 17:00 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="time-bottom">
									<div class="time-left">
										<h5>Sunday : </h5>
									</div>
									<div class="time-right">
										<h5> Closed </h5>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="help-line w3l">
								<h4>24 hours Helpline</h4>
								<p>If you have some questions, you can contact us on this lines:</p>
								<ul class="details">
									<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Office : 0041-456-3692</li>
									<li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Mobile : 0200-123-4567</li>
								</ul>
							</div>
						</div>
						<div class="col-md-8 about-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<h4>GYMFit - the best choice for you</h4>
							<p>We are the first official partner of IFBB and VBDC in Kazakhstan. We have been in Almaty since 2006. We have been promoting the idea of simplicity and nothing more. For 13 years we have been providing convenience, comfort, safety and knowledge at a ridiculous price.</p>

							<div class="about-bottom">
								<div class="about-left">

								</div>
								<div class="about-right">
									<img src="{% static 'parts/images/a1.jpg' %}" class="img-responsive" alt=""/>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="few-words">
								<div class="col-md-4 few-grid">
									<img src="{% static 'parts/images/f5.jpg' %}" class="img-responsive" alt=""/>
									<h5>Cardio</h5>
									<span>Cardio exercise simply means that you're doing a rhythmic activity that raises your heart rate into your target heart rate zone, the zone where you'll burn the most fat and calories.</span>
								</div>
								<div class="col-md-4 few-grid">
									<img src="{% static 'parts/images/f6.jpg' %}" class="img-responsive" alt=""/>
									<h5>Self Defence</h5>
									<span>Special trainers with qualificated knowledge and individual programs</span>
								</div>
								<div class="col-md-4 few-grid">
									<img src="images/f7.jpg" class="img-responsive" alt=""/>
									<h5>Bodybuilding</h5>
									<span>Gradual structure of the desired body with our free maraphons and licensed trainers</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="gym-product w3-agile">
				<div class="container">
					<h3>Products of gym</h3>
					<div class="product-grids">
						<div class="col-md-4 product-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<img src="{% static 'parts/images/p1.jpg' %}" class="img-responsive" alt=""/>
							<h4>Flexible weights </h4>
							<p>Our center is equipped for all body types and persons. </p>
						</div>
						<div class="col-md-4 product-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<img src="{% static 'parts/images/p2.jpg' %}" class="img-responsive" alt=""/>
						<h4>Wide choice </h4>
							<p>All types of training: from Cardio,Bodybuilding to Workout Joga and etc. </p>
						</div>
						<div class="col-md-4 product-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<img src="{% static 'parts/images/p3.jpg' %}" class="img-responsive" alt=""/>
							<h4>Quality equipment</h4>
							<p>Licensed equipment and training machines from Germany</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!---about-->
<!---footer--->
<div class="footer-section">
	<div class="container">
	<div class="footer-grids">
		<div class="col-md-3 footer-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<h4>About</h4>
			<p>GYMFit- gym center located and based in Almaty since 2006.Working together with IFBB and WNBC.Official partner of JDV in Kazakhstan.</p>
		</div>
		<div class="col-md-3 footer-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
			<h4>Categories</h4>
			<ul>
				<li>Beauty</li>
				<li>Diet & Fitness</li>
				<li>Lifestyle</li>
				<li>Help Desk</li>
				<li>Pregnancy</li>
				<li>Performance Metrics</li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
		<h4>Work</h4>
			<ul>
				<li>Customer Support</li>
				<li>Platinum Support</li>
				<li>Gold Support</li>
				<li>Training</li>
				<li>Workshops</li>
				<li>Online Training</li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
			<h4>Contact</h4>
			<p>Abai Street 185</p>
			<p>Almaty, 090003.</p>
			<p>Freephone: +7112 55 63 03</p>
			<p>Telephone: +7 707 741 0707</p>

			<a href="mailto:example@mail.com"> gymfitofficial@mail.com</a>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>
<!---footer--->
<!--copy-->
<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
<div class="container">
		<div class="social-icons">
			<a href="#"><i class="icon"></i></a>
			<a href="#"><i class="icon1"></i></a>
			<a href="#"><i class="icon2"></i></a>
			<a href="#"><i class="icon3"></i></a>
		</div>
	<p>2019 GYMFit. All rights reserved</p>
</div>
</div>
<!--copy-->
</body>
</html>
